In [ ]:
# print 0 to 20 by using range
num=0,20
for num in range(0,20):
    print(num)

In [ ]:
# print 0 to 20 by using range
num=10,20
for num in range(10,20):
    print(num)

In [9]:
# Print number of items in the list by using 'len'
list2 = (10, 20, 14, 55, 43, 87, 76)
length = len(list2)
print("Number of item in the List2:",length)

Number of item in the List2: 7

In [13]:
word = "Artificial Intelligence"
for char in word:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [15]:
Name=input("Your Name:")
Age=int(input("Your Age:"))
Profession=input("Your Profession:")

Your Name: Karthik
Your Age: 26
Your Profession: Engineer

In [17]:
print("Your Name: ",Name)
print("Your Age: ",Age)
print("Your Profession:",Profession)

Your Name:  Karthik
Your Age:  26
Your Profession: Engineer

In [41]:
tuple = (1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [39]:
list = [(0, 1, 2, 3,('python', 'HOPE'))]
print(tuple(list))

((0, 1, 2, 3, ('python', 'HOPE')),)

In [33]:
# print Odd Numbers in the list
odd = (20,10,16,19,25,1,276,188)
for x in odd:
    if x % 2 == 1:
        print(x,"is odd")

19 is odd
25 is odd
1 is odd

In [37]:
# print Even numbers in the list
even = (20,10,16,19,25,1,276,188)
for x in even:
    if x % 2 == 0:
        print(x,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even